* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

@font-face {
  font-family: "Karla-Bold";
  src: url("./assets/fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: "Karla-Regular";
  src: url("./assets/fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: "Karla-Light";
  src: url("./assets/fonts/Karla-Light.ttf");
}

@font-face {
  font-family: "Karla-ExtraBold";
  src: url("./assets/fonts/Karla-ExtraBold.ttf");
}

@font-face {
  font-family: "Karla-Italic";
  src: url("./assets/fonts/Karla-Italic.ttf");
}

h1 a,
p {
  font-family: 'Karla-Regular', sans-serif;
  color: #323A45;
  font-size: 1.4rem;
  line-height: 1.7;
}

ul li {
  line-height: 1.7;

}

a {
  font-family: 'Karla-Regular', sans-serif;
  color: #323A45;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.7;
}

a:hover {
  text-decoration: underline;
  color: #848484;
}

p.light {
  font-family: 'Karla-Light', sans-serif;
  color: #848484;
  font-size: 1.4rem;
}

span {
  font-family: 'Karla-Bold', sans-serif;
  color: #323A45;
  font-size: 1.4rem;
}

.big {
  font-family: 'Karla-Light', sans-serif;
  color: #848484;
  font-size: 2.5rem;
  margin: 0 5px;
}

.bold {
  font-family: 'Karla-Bold', sans-serif;
  color: #323A45;
  font-size: 1.4rem;
}

.xbold {
  font-family: 'Karla-ExtraBold', sans-serif;
  color: #323A45;
  font-size: 1.4rem;
}

.italic {
  font-family: 'Karla-Italic', sans-serif;
  color: #323A45;
  font-size: 1.2rem;
}

/* ===============================
  header
=============================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.backArrow {
  transition: all 0.5s ease;
}

.backArrow:hover {
  scale: 1.5;
}

.navBar {
  position: relative;
}

.navBar .burger {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.navBar ul {
  display: none;
  gap: 10px;
}

.navBar ul li {
  list-style-type: none;
}

.menuNav {
  overflow-y: scroll;
  list-style-type: none;
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  /* max-width: 80%; */
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.menuNav ol {
  list-style-type: none;
}

.menuNav ol li {
  text-align: center;
  margin: 30px;
}

.showMenu {
  width: 100%;
}

/* ===============================
  main
=============================== */

/* update styling */
.singleProductDiv {
  border: 1px solid black;
  margin: 10px;
}

/* ===============================
  footer
=============================== */
footer {
  margin: 10px;
}

footer section {
  margin: 20px 0;
}

footer section ul {
  list-style-type: none;
}

footer .underline {
  text-decoration: underline;
}

/* ===============================
  media queries
=============================== */

@media only screen and (min-width: 768px) {
  header {
    margin: 20px 50px;
  }

  .navBar ul {
    display: flex;
  }

  .burger {
    display: none;
  }

  footer {
    margin: 10px 50px;
  }
}

@media only screen and (min-width:901px) {
  header {
    margin: 40px 100px;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    margin: 10px 100px;
  }

  footer .underline {
    text-decoration: none;
  }

  footer section.copyright {
    grid-column: 1 / 5;
  }

  .footer_findUs {
    margin-left: 100px;
  }

}